---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Base Semaglutide Monthly",
    price: "$349.99",
    popular: false,
    features: [
      "All doctor consultations",
      "Shipping and handling",
      "Astro Sub domain",
      "Basic Integrations",
      "Community Support",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Base Tirzepatide Monthly",
    price: {
      monthly: "$449.99",
    },
    popular: true,
    features: [
      "All doctor consultations",
      "Shipping and handling",
      "20 Custom domains",
      "Unlimited Collaborators",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Membership After 10 Referrals",
    popular: false,
		price: {
			monthly: "FREE",
			discount: "100%"
		},
    features: [
      "All doctor consultations",
      "Shipping and handling",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Find out more...",
      link: "/signup",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
