---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "The products you know and love",
    description:
      "Semaglutide Products:  $249/mo for your first month and $349/mo thereafter",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "The products you trust and rely on",
    description:
      "Tirzepatide Products: $349/mo for your first month and $449/mo thereafter",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Compounding",
    description:
      "No insurance required.",
    icon: "bx:bxs-data",
  },
  {
    title: "Slim Savers Membership",
    description:
      "As a member, you can participate in the Slim Savers referral program to get discounts on the base prices for simply referring new members, including friends, co-workers, and neighbors",
    icon: "bx:bxs-bot",
  },
  {
    title: "Referral discount programs available",
    description:
    "When you refer new members to Slim Savers, you will receive an additional 10% discount (up to 100%) of your monthly cost[2]",
    icon: "bx:bxs-file-find",
  },
  {
    title: "It sells itself",
    description:
      "For example, referring 5 new members who purchase products through Slim Saversl gets you a 50% discount on your monthly purchase, and referring 10 new members gets you a 100% discount.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What does Slim Savers offer?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We've negotiated discount prices from US compounding pharmacies that are ready to fill your prescription.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 mb-24">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-blue-100 rounded-2xl  p-3 w-12 h-12 shrink-0">
          <Icon class="text-blue-700" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
