---
import { Image } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
---

<main class="pt-16 pb-8 md:pt-8">
  <!-- <div class="py-6 md:order-1 hidden md:block">
     <Image
      src={heroImage}
      alt="Astronaut in the air"
      loading="eager"
      format="avif"
    /> 
  </div> -->
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">Slim Savers</h1>
    <p class="text-lg mt-4 text-slate-600 ">
			Join now to gain member-exclusive pricing and availability to Semaglutide (the active ingredient of Ozempic速 and Wegovy速) or Tirzepatide (the active ingredient in Mounjaro速 and Zepbound速 ).
    </p>

    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        id="become-a-member-link-button"
        href="https://example.com"
        target="_blank"
        rel="noopener">Become a member</Link
      >
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/pricing"
        target="_blank">View Pricing Now</Link
      >
    </div>
  </div>
</main>
